<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titulo">WaySee</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/home']">
        <img src="assets/icon/logo-waysee-clara.jpg" class="logo">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container-principal">
    
    <div class="fundo-redondo-semaforo">
      <div class="corpo-semaforo">
        <div class="luz vermelha" [class.ativa]="corAtual === 'vermelho'"></div> 
        <div class="luz amarela" [class.ativa]="corAtual === 'amarelo'"></div>
        <div class="luz verde" [class.ativa]="corAtual === 'verde'"></div>
      </div>
    </div>

    <div class="cartao-verde">
      <p *ngIf="corAtual === 'verde'">Sinal verde, não prossiga!</p>
      <p *ngIf="corAtual === 'amarelo'">Sinal amarelo, não prossiga!</p>
      <p *ngIf="corAtual === 'vermelho'">Sinal vermelho, prossiga<br>com cautela!</p>
    </div>

    <button class="botao-home-circular" [routerLink]="['/home']">
      <ion-icon name="home"></ion-icon>
      <span>Home</span>
    </button>

  </div>
</ion-content>