<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titulo">WaySee</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/home']">
        <img src="assets/icon/logo-waysee-clara.jpg" class="logo">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container-aviso">
    <div class="cartao-verde">
      <p>
        Não foi possível se<br>
        conectar ao semáforo,<br>
        retorne para a home<br>
        apertando o botão no<br>
        canto inferior da tela e<br>
        tente novamente.
      </p>
    </div>
  </div>

  <div class="container-botao">
    <button class="botao-home-circular" [routerLink]="['/home']">
      <ion-icon name="home-outline"></ion-icon>
      <span>Home</span>
    </button>
  </div>
</ion-content>