<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titulo">
      WaySee
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/home']">
        <img src="assets/icon/logo-waysee-clara.jpg" class="logo">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">conexao-semaforo</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
