<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titulo">
      WaySee
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/home']">
        <img src="assets/icon/logo-waysee-clara.jpg" class="logo">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input
      class="texto"
      placeholder="Insira o endereço"
      labelPlacement="floating"
      [clearInput]="true"
      [(ngModel)]="endereco">
      <div slot="label">Endereço</div>
    </ion-input>
  </ion-item>

  <ion-button expand="full" (click)="abrirRota()">
    Abrir rota Google-Maps
  </ion-button>
</ion-content>
